*.swp
*.swo
cscope*.out
ncscope*.out
cscope.files
*~

Makefile.in
aclocal.m4
autom4te.cache/
build/
configure
include/Makefile.in
m4/
src/Makefile.in
compile
config.guess
config.h.in
config.sub
depcomp
install
install-sh
ltmain.sh
missing
test-driver
expat_config.h.in
